{% extends "partials/conteneur.html" %}

{% block body %}
    <main>
    <div id="title_dash">
        <div id="title_box">
            <h1>DashBoard</h1>
        </div>
    </div>
    <div class="analyse">
        <div class="canvas">
                <h1>Recap</h1>
                <canvas id='dashboard'></canvas>

                <h3>nb of doc with mentions : <span style="color: red">{{ data[1] }}</span></h3>
                <h3>nb of doc without mentions : <span style="color: red">{{ data[3] }}</span></h3>
                <h3>nb of mentions : <span style="color: red">{{ data[2] }}</span></h3>
                <canvas id="lineChart"></canvas>
                <div class="search">
                    <div class="dropdown" id="search-box">
                        <input type="text" id="input-box" placeholder="Search..." autocomplete="off">
                    </div>
                    <div id="result-box">
                    </div>
                </div>
            <div class="structures">
                <h1>Structures</h1>
                {% for org in data[7]%}
                    <div class="structure"> {{ org }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="software-info">
                <h1>Used mentions (<span style="color: #6C9BCF">{{data[0]['used']}}</span>)</h1>
                    <div class="list-software">
                        {% for software, docs in data[4].items() %}
                                <div class="mention_doc_id" id="{{ software|sanitize}}">
                                    <div class="dropdown">
                                    <button class="dropbtn">{{ software }}</button>
                                    <div class="dropdown-content">
                                    <lu class="list_software_doc_id">
                                {% for doc in docs %}
                                    <li><a href="{{ url_for('doc_info_wsoftware',doc_id=doc,software=software) }}">{{ doc }}</a></li>
                                {% endfor %}
                                    </lu>
                                     </div>
                                     </div>
                            </div>
                            {% endfor %}
                        </div>
        </div>
            <div class="software-info">
                    <h1>Created mentions (<span style="color: #363949">{{data[0]['created']}}</span>)</h1>
                        <div class="list-software">
                            {% for software, docs in data[6].items() %}
                                <div class="mention_doc_id" id="{{ software|sanitize}}">
                                    <div class="dropdown">
                                    <button class="dropbtn">{{ software }}</button>
                                    <div class="dropdown-content">
                                    <lu class="list_software_doc_id">
                                    {% for doc in docs %}
                                        <li><a href="{{ url_for('doc_info_wsoftware',doc_id=doc,software=software) }}">{{ doc }}</a></li>
                                    {% endfor %}
                                    </lu>
                                     </div>
                                     </div>
                            </div>
                            {% endfor %}
                        </div>
            </div>
        <div class="software-info">
                <h1>Shared mentions (<span style="color: #677483">{{data[0]['shared']}}</span>)</h1>
                    <div class="list-software">
                        {% for software, docs in data[5].items() %}
                                <div class="mention_doc_id" id="{{software|sanitize}}">
                                    <div class="dropdown">
                                    <button class="dropbtn">{{ software }}</button>
                                    <div class="dropdown-content">
                                    <lu class="list_software_doc_id">
                                    {% for doc in docs %}
                                        <li><a href="{{ url_for('doc_info_wsoftware',doc_id=doc,software=software) }}">{{ doc }}</a></li>
                                    {% endfor %}
                                        </lu>
                                     </div>
                                     </div>
                            </div>
                            {% endfor %}
               </div>
        </div>
    </div>
</main>
    <script>generateCircleChart('#dashboard',{{data[0]['used']}},{{data[0]['created']}},{{data[0]['shared']}});</script>
{% endblock %}