{% extends "partials/conteneur.html" %}

{% block body %}
    <h1>DashBoard</h1>
    <div class="analyse">
        <div class="status">
            <div class="info">
                <h1>Recap</h1>
                <canvas id='yo'></canvas>
            </div>
        </div>
    </div>
    <div class="analyse">
        <div class="status">
            <div class="info">
                <h3>nb of doc with mentions : <span style="color: red">{{ data[1] }}</span></h3>
            </div>
        </div>
    </div>
    <div class="analyse">
        <div class="status">
            <div class="info">
                <h3>nb of doc without mentions : <span style="color: red">{{ data[3] }}</span></h3>
            </div>
        </div>
    </div>
    <div class="analyse">
        <div class="status">
            <div class="info">
                <h3>nb of mentions : <span style="color: red">{{ data[2] }}</span></h3>
            </div>
        </div>
    </div>

    <script>generateCircleChart('#yo',{{data[0]['used']}},{{data[0]['created']}},{{data[0]['shared']}});</script>
{% endblock %}