{% extends "partials/conteneur.html" %}
{% block body %}
<div>
    <div class="search-software">
        <div class="dropdown" id="search-box-dis">
            <input type="text" id="input-box-dis" placeholder="Search..." autocomplete="off">
        </div>
        <div id="result-box-dis"></div>
    </div>
    <div id="title-box">
        <div id="nodup-title-box"><h2>No duplicates (<span id="nb-sofwnodup">0</span>)</h2></div>
        <div id="card-title-box"><h2> Softwares with possible desambiguisation (<span id="nb-sofwdup">0</span>)<div id="loading"><span class="material-symbols-outlined">rotate_right</span></div></h2></div>
    </div>
    <div id="software-box">
        <div id="nodup-box"></div>
        <div id="card-box"></div>
    </div>

</div>
{% endblock %}