{% extends "partials/conteneur.html" %}
{% block body %}
<div>
    <div class="titre-block"><h2 style="padding: 5px">{{ data[4] }}</h2></div>
   <div class="flex-container">
       <div class="info_doc">

           <div class="doc_abstract">
               {% if data[1][0] == "GROBID" %}
                   <h1>Abstract (<span style="color: red">scrapped with Grobid</span>)</h1>
               {% else %}
                   <h1>Abstract (<span style="color: green">scrapped from HAL</span>)</h1>
               {% endif %}
               <p style="overflow-y: auto;">{{ data[1][1] }}</p>
           </div>

           <div class="doc_author">
               <h1>Authors (ajouter les rôles)</h1>
               <ul class="top_ul">
                   {% for author in data[6] %}
                   <li>{{ author }}</li>
                   {% endfor %}
               </ul>
           </div>

           <div class="doc_affi">
               <h1>Affiliations</h1>
               <ul class="top_ul">
               {% for dic in data[7] %}
                   {% for type,affiliations in dic.items() %}
                       <h4>{{ type }}</h4>
                       {% for affi in affiliations %}
                           <li style="padding-left: 10px">{{ affi }}</li>
                        {% endfor %}
                   {% endfor %}
               {% endfor %}
               </ul>
           </div>

           <div class="doc_soft">
             <h1>Softwares cited in this article :</h1>
             <ul class="top_ul">
                {% for hal_id in data[3] %}
                <li>
                   <a href="{{ url_for('doc_info_wsoftware',doc_id=data[5], software=hal_id) }}">{{ hal_id }}</a>
                </li>
                {% endfor %}
             </ul>
          </div>

       </div>
      {% for attrib,lists_context in data[0].items() %}
      {% if lists_context|length > 0 %}
      <div class="contexts">
         <p class="titre">Contexts «{{ attrib }}»</p>
         <ul class="software-list" style="padding-left:15px">
            {% for context in lists_context %}
            <li>"{{ context | safe  }}"</li>
            {% endfor %}
         </ul>
      </div>
      {% endif %}
      {% endfor %}
      <!--<div class="source">
         <p class="titre">Source</p>
         {{ data[2] | safe }}
      </div>-->
   </div>
</div>
{% endblock %}