{% block body %}
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>
<body>
        <p class="titre-block"><strong>{{ data[3] }}</strong></p>
<div class="flex-container">
<div class="contexts">
    <p class="titre">Contexts</p>
    <ul class="software-list" style="padding-left:15px">
    {% for context in data[0] %}
        <li>"{{ context | safe  }}"</li>
    {% endfor %}
    </ul>
</div>
{% if data[1] != None %}
<div class="abstract">
    <p class="titre">abstract</p>
    {{ " ".join(data[1]) }}
</div>
{% endif %}
<div class="source">
    <p class="titre">Source</p>
    {{ data[2] | safe }}
    </div>
<div class="all-sources">
    <p class="titre">All sources</p>
    <ul>
    {% for hal_id in data[4] %}
        <li>
        <a href="{{ url_for('doc_info_wsoftware',doc_id=hal_id, software=data[7]) }}">{{ hal_id }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="other-software">
    <p class="titre">Other softwares</p>
    <ul>
    {% for software in data[5] %}
        <li>
        <a href="{{ url_for('doc_info_wsoftware',doc_id=data[6], software=software) }}">{{ software }}</a>
        </li>
    {% endfor %}
     </ul>
</div>
</div>
</body>
{% endblock %}