

{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
<div>
    <h1>{{ data[3] }}</h1>
    <h1>Contexts </h1>
    <ul>
    {% for context in data[0] %}
        <li>"{{ context | safe  }}"</li>
    {% endfor %}
    </ul>
</div>
<div>
    <h1>abstract</h1>
    {{ " ".join(data[1]) }}
</div>
<div>
    <h1>Source</h1>
    {{ data[2] | safe }}
</div>
<div>
    <h1>All sources</h1>
    <ul>
    {% for hal_id in data[4] %}
        <li>
        <a href="https://inria.hal.science/{{ hal_id }}/{{ data[7] }}">{{ hal_id }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
<div>
    <h1>Other softwares</h1>
    <ul>
    {% for software in data[5] %}
        <li>
        <a href="{{ url_for('doc_info_wsoftware',doc_id=data[6], software=software) }}">{{ software }}</a>
        </li>
    {% endfor %}
     </ul>
</div>
{% endblock %}