{% extends "partials/conteneur.html" %}
{% block body %}

<div class="timeline_container">

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/database.svg" alt="">
            </div>
            <div class="time_info">
              <h2>DB of PDF</h2>
              <p class="">The process begins with a Database of PDF files. These PDFs are scholarly PDFs that needs to be extracted and processed.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/docker.svg" alt="">
            </div>
            <div class="time_info">
              <h2>GROBID</h2>
              <p class="docker">The PDFs are sent to <span class="docker" style="font-weight: bold;">GROBID</span>, a tool used to extract structured data (like bibliographic information) from scholarly PDFs. <span class="docker" style="font-weight: bold;">GROBID</span> processes the PDFs and outputs XML files. This is a crucial step in extracting machine-readable information from the documents.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/docker.svg" alt="">
            </div>
            <div class="time_info">
              <h2><span class="docker" style="font-weight: bold;">GROBID</span></h2>
              <p class="docker">After <span class="docker" style="font-weight: bold;">GROBID</span>, the extracted data (likely enriched or supplemented data) is passed to <span class="docker" style="font-weight: bold;">GROBID</span>, which generate JSON outputs. <span class="docker" style="font-weight: bold;">GROBID</span> analyze citations, software mentions, or related information in the PDF files like references.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/logo_home.png" alt="">
            </div>
            <div class="time_info">
              <h2><span class="sync" style="font-weight: bold;">SOFTware-Sync</span></h2>
              <p class="">The extracted data (XML and JSON) is then passed to <span class="sync" style="font-weight: bold;">SOFTware-Sync</span>, which is a tool that synchronizes the data in one single XML.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/viz.png" alt="">
            </div>
            <div class="time_info">
              <h2>SOFTware-Viz</h2>
              <p class=""><span class="viz" style="font-weight: bold;">SOFTware-Viz</span> is responsible for visualizing the processed data. It likely takes the synchronized data from <span class="sync" style="font-weight: bold;">SOFTware-Sync</span> and transforms it into visual outputs or dashboards.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/arangodb.svg" alt="">
            </div>
            <div class="time_info">
              <h2>ArangoDB</h2>
              <p class="">The processed data is stored in <span class="arango" style="font-weight: bold;">ArangoDB</span>, a multi-model NoSQL database, to manage both structured data. This database serves as the main storage for the extracted information/mentions.</p>
            </div>
          </div>

           <div class="time_block">
            <div class="time_img">
              <img src="static/img/flask.svg" alt="">
            </div>
            <div class="time_info">
              <h2>Flask</h2>
              <p class=""><span class="flask" style="font-weight: bold;">Flask</span> is a web framework used for developing web applications. <span class="flask" style="font-weight: bold;">Flask</span> interacts with both <span class="viz" style="font-weight: bold;">SOFTware-Viz</span> (for visualizations) and <span class="arango" style="font-weight: bold;">ArangoDB</span> (for retrieving data).</p>
            </div>
          </div>
        </div>
</div>
{% endblock %}