{% extends "partials/conteneur.html" %}
{% block body %}
<main>
    <div id="title_dash">
        <div id="title_box">
            <h1 data-value="DashBoard">SOFTware-Viz</h1>
        </div>
    </div>
    <div class="home-container">
        <div class="home-info">
            <h1>Informations</h1>
        </div>
        <div class="home-info">
            <h1>Dataset</h1>
            <div class="home-card-box">
                    <div class="home-block">
                        <div class="home-data">
                          <h2>Documents:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Software:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Software mention:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Authors:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>Structures:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class=""> 1000 </p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>References:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>DOI:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
                <div class="home-block">
                        <div class="home-data">
                          <h2>GitHub Links:         <button class="button-info" title="More info incoming"><span class="material-symbols-outlined">help</span></button></h2>
                          <p class="">1000</p>
                        </div>
                  </div>
            </div>
        </div>
        <div class="home-info">
            <h1>Timeline</h1>
            <div class="canvas">
            <div class="timeline_container">

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/database.svg" alt="">
            </div>
            <div class="time_info">
              <h2>DB of PDF</h2>
              <p class="">The process begins with a Database of PDF files. These PDFs are scholarly PDFs that needs to be extracted and processed.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/docker.svg" alt="">
            </div>
            <div class="time_info">
              <h2>GROBID</h2>
              <p class="docker">The PDFs are sent to <span class="docker" style="font-weight: bold;">GROBID</span>, a tool used to extract structured data (like bibliographic information) from scholarly PDFs. <span class="docker" style="font-weight: bold;">GROBID</span> processes the PDFs and outputs XML files. This is a crucial step in extracting machine-readable information from the documents.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/docker.svg" alt="">
            </div>
            <div class="time_info">
              <h2><span class="docker" style="font-weight: bold;">SOFTCITE</span></h2>
              <p class="docker">After <span class="docker" style="font-weight: bold;">GROBID</span>, the extracted data (likely enriched or supplemented data) is passed to <span class="docker" style="font-weight: bold;">SOFTCITE</span>, which generate JSON outputs. <span class="docker" style="font-weight: bold;">SOFTCITE</span> analyze citations, software mentions, or related information in the PDF files like references.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/logo_home.png" alt="">
            </div>
            <div class="time_info">
              <h2><span class="sync" style="font-weight: bold;">SOFTware-Sync</span></h2>
              <p class="">The extracted data (XML and JSON) is then passed to <span class="sync" style="font-weight: bold;">SOFTware-Sync</span>, which is a tool that synchronizes the data in one single XML.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/viz.png" alt="">
            </div>
            <div class="time_info">
              <h2>SOFTware-Viz</h2>
              <p class=""><span class="viz" style="font-weight: bold;">SOFTware-Viz</span> is responsible for visualizing the processed data. It likely takes the synchronized data from <span class="sync" style="font-weight: bold;">SOFTware-Sync</span> and transforms it into visual outputs or dashboards.</p>
            </div>
          </div>

          <div class="time_block">
            <div class="time_img">
              <img src="static/img/arangodb.svg" alt="">
            </div>
            <div class="time_info">
              <h2>ArangoDB</h2>
              <p class="">The processed data is stored in <span class="arango" style="font-weight: bold;">ArangoDB</span>, a multi-model NoSQL database, to manage both structured data. This database serves as the main storage for the extracted information/mentions.</p>
            </div>
          </div>

           <div class="time_block">
            <div class="time_img">
              <img src="static/img/flask.svg" alt="">
            </div>
            <div class="time_info">
              <h2>Flask</h2>
              <p class=""><span class="flask" style="font-weight: bold;">Flask</span> is a web framework used for developing web applications. <span class="flask" style="font-weight: bold;">Flask</span> interacts with both <span class="viz" style="font-weight: bold;">SOFTware-Viz</span> (for visualizations) and <span class="arango" style="font-weight: bold;">ArangoDB</span> (for retrieving data).</p>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
    </div>
</main>
</div>
{% endblock %}