<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="{{ url_for('static', filename='charts.js') }}"></script>
    <meta charset="UTF-8">
    <title>{{ data }}</title>
</head>
<body>
    <canvas id='software' style="size: 700px"></canvas>
    {% for hal_id in data[4] %}
        <a href={{ url_for('doc_info', doc_id=hal_id) }} style='display: none'>{{ hal_id }}</a><br>
    {% endfor %}
    <script>
        var dictionaryData = {{ data[0] | tojson | safe }};
        generateBubbleChart('#software',dictionaryData, {{ data[1] }}, {{ data[2] }}, {{ data[3] }});
    </script>
</body>
</html>