{% extends "partials/conteneur.html" %}
{% block body %}

<div class="software_canva_info" style="margin-left: 20px;">
    <div class="search">
        <div class="dropdown" id="search-box">
            <input type="text" id="input-box-software" placeholder="Search for a software..." autocomplete="off">
        </div>
        <div id="result-box-software" style="display: none;"></div>
    </div>

    <div class="canva_container">
        <canvas id='software' style=""></canvas>
    </div>
    <div id="table_source" class="table_source" style="display: flex;">
        <div id="sourceContainer"  class="sourceContainer"></div>
        <div id="structureContainer" class="structureContainer_chart"></div>
        <div id="authorContainer" class="authorContainer"></div>
    </div>
    <div class="{{ software }}" id="software_name"></div>

    <div class="doc_container">

        <div STYLE="width: 300px;" class="doc_stat">
            <h1>Statistic</h1>
            <canvas id="canva_software" width="300" height="300"></canvas>
            <h3>Used mentions : <span style="color: red">{{ data[0]['used'] }}</span></h3>
            <h3>Shared mentions : <span style="color: red">{{ data[0]['shared'] }}</span></h3>
            <h3>Created mentions : <span style="color: red">{{ data[0]['created'] }}</span></h3>
        </div>

        <div class="doc_stat">
            <h1>Top Authors :<button class="button-info" title="miaou"><span class="material-symbols-outlined">help</span></button></h1>
            <ul class="top_ul">
            {%  for auth, nb in data[1].items() %}
            <li>- {{ auth }} (<span style="color: red">{{ nb | length }}</span>)</li>
            {% endfor %}
            </ul>
        </div>

        <div class="doc_stat">
            <h1>Top Laboratory :<button class="button-info" title="miaou"><span class="material-symbols-outlined">help</span></button></h1>
            <ul class="top_ul">
            {%  for struc, nb in data[3].items() %}
            <li>- {{ struc }} (<span style="color: red">{{ nb | length }}</span>)</li>
            {% endfor %}
            </ul>
        </div>

        <div class="doc_stat">
            <h1>Top Institution :<button class="button-info" title="miaou"><span class="material-symbols-outlined">help</span></button></h1>
            <ul class="top_ul">
            {%  for struc, nb in data[2].items() %}
            <li>- {{ struc }} (<span style="color: red">{{ nb | length }}</span>)</li>
            {% endfor %}
            </ul>
        </div>

        <div class="doc_stat">
            <h1>Documents :<button class="button-info" title="miaou"><span class="material-symbols-outlined">help</span></button></h1>
            <ul class="top_ul">
            {%  for doc in data[4] %}
            <li>- {{ doc[0] }} (<a href="{{  url_for('doc_info_wsoftware',doc_id=doc[1], software=data[5]) }}">{{ doc[1] }}/{{ data[5] }}</a>)</li>
            {% endfor %}
            </ul>
        </div>

    </div>

    {% for doc in data[6] %}

    <div class="sofware_document_card">

        <div class="titre-block">
            <h2 style="padding: 5px; padding-left:15px">{{ doc[0][0] }}</h2>
        </div>

        <div class="flex-container">
            {% for attrib,lists_context in doc[1].items() %}
              {% if lists_context|length > 0 %}
              <div class="contexts">
                 <p class="titre">Contexts «{{ attrib }}»</p>
                 <ul class="software-list" style="padding-left:15px">
                    {% for context in lists_context %}
                    <li>"{{ context | safe  }}"</li>
                    {% endfor %}
                 </ul>
              </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            generateCircleChart('#canva_software', {{data[0]['used']}},{{data[0]['created']}},{{data[0]['shared']}});
        });
    </script>
</div>

<script>
    generateBubbleChart('#software');
    document.addEventListener('DOMContentLoaded', function() {
            generateCircleChart('#canva_software', {{data[0]['used']}},{{data[0]['created']}},{{data[0]['shared']}});
        });
</script>
{% endblock %}