@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ======================= VARIABLE ======================= */

:root{
    --effet-color: #53a4dd;
    --transition: .3s cubic-bezier(.25,.8,.5,1);
    --widget-background: #f7f7f7;
    height: 100vh;
}

html{
    font-size: 14px;
    margin: 0;
    height: 100%;
    background-color: #e5e5e5;
}

aside { /* STYLE DU PANEAU DE GAUCHE */
	background: linear-gradient(90deg, rgb(46, 96, 131) 0%, rgb(76, 78, 104) 100%);
	border-right: 4px solid var(--effet-color);
}

.container{
    display: grid;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 2rem;
    margin: 0;
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    user-select: none;
    overflow-x: hidden;
}

/* ========================== GLOBAL ========================== */

*{ /* Valeur pour éviter l'héritage WEB (style année 90 qui n'est pas en plein écran) */
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* ======================= BODY GENERAL ======================= */

.flex-container {
    height: fit-content;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
    margin:2rem;
}

.abstract, .contexts, .source, .all-sources, .other-software, .sourceContainer{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    height: fit-content;
}

.titre {
    font-size: 1.3rem;
    font-weight: bold;
}

.abstract {
    border: 1px solid #c8cad0;
    box-shadow: 0 3px 4px #00000029;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    padding:1rem;
}

.contexts {
    border: 1px solid #c8cad0;
    box-shadow: 0 3px 4px #00000029;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    padding:1rem;
    width:100%;
}

.table_source{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sourceContainer, .structureContainer, .authorContainer {
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
    height: fit-content;
    border: 1px solid #c8cad0;
    box-shadow: 0 3px 4px #00000029;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-bottom: 5px;
    padding:1rem;
    width:50%;
}

.source, .all-sources, .other-software {
    box-sizing: border-box;
    flex: 250px;
    padding: 1rem;
    border: 1px solid #c8cad0;
    box-shadow: 0 3px 4px #00000029;
    border-radius: 3px;
    background-color: #f7f7f7;
    margin-bottom: 25px;
}


.all-sources li, .other-software li {
    float:left;
    width:50%;
    display:inline;
}

.titre-block {
    font-size: 22px;
    margin: 20px 30px;
    box-shadow: 3px 3px 5px 0px #0000003b;
    background: red;
    color: #fff;
    min-width: 200px;
    text-align: center;
    max-height : 34px;
}


/* ======================= FONT ======================= */


h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

/* ================================================================================ */
/* ================================== VOLET (WIDGET) ============================== */
/* ================================================================================ */

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: var(--height);
    position: relative;
    top: 20px;
    transition: var(--transition);
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: #fff;
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    padding-left: 10px;
    background-color: #121420;
    transition: var(--transition);
    border-bottom: 1px solid #41434f;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a.active{
    width: 100%;
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
}

aside .sidebar a:hover{ /* Background du menu en Hover  */
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(67,135,187,1) 100%);
}

aside .sidebar a:hover span{ /* Décalage à gauche en Hover des items du menu */
    margin-left: 0.6rem;
}

/* =============================================================================== */
/* ================================== MAIN (WIDGET) ============================== */
/* =============================================================================== */

/* ================================== Block Principal ================================== */

main{ /* Marge du block Main avant le texte Dashboard */
    margin-top: 1.4rem;
}

main .analyse{ /* Style Grid du block Main */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;
    align-items: start;
}

/* ================================== Styles des Widget ================================== */

.software-info, main .analyse .canvas{  /* Style widgets -> Pour Info j'ai groupé les 2 software et main pour simplifier */
    background-color: var(--widget-background);
    padding: 20px;
    margin: 20px 0 0 0;
    width: 100%;
    height: 88vh;
    overflow: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    border: 2px solid transparent;
    box-shadow: 0 3px 4px #00000029;
    border-radius: 3px;
}

.software-info:hover, main .analyse >div:hover{ /* Couleur des bordure du widgets en Hover */
    border-image-source: linear-gradient(to left, #b3679c, #42a7e4);
    border-image-slice: 1;
}

/* ======================== En-Tête des widgets ======================== */

.software-info h1{ /* Texte des En-tête */
  position: sticky;
  top: 0;
  width: auto;
  z-index: 1;
  margin-bottom: 10px;
  text-align: center;
  font-size: 26px;
}

.software-info h1::before { /* Box des En-tête */
  content: '';
  position: absolute;
  top: -30px;
  left: 0px;
  right: 0px;
  bottom: -15px;
  z-index: -1;
  background-color: var(--widget-background);
}

.software-info h1::after { /* Ligne sous le texte */
  content: "";
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgb(46, 96, 131) 50%, rgba(255,255,255,0) 100%);
  display: block;
}

.list-software{
    overflow-y: auto;
}

/* ======================== Boite de Recherche ======================== */

#input-box {
	background: #fff;
	padding: 10px 15px;
	border: 1px solid var(--effet-color);
	margin-top: 10px;
}
#input-box:hover {
	border-image-source: linear-gradient(to left, #b3679c, #42a7e4);
	border-image-slice: 1;
}
/* =============================================================================== */
/* ==================================== DROP DOWN ================================ */
/* =============================================================================== */

.dropbtn { /* Style des DropDown */
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.dropdown { /* Style du Curseur sur les DropDown */
	cursor: pointer;
}

.dropdown-content { /* Données des Drop Down masqué */
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 363px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a { /* Liens Données des Drop Down masqué */
  color: #000;
  font-size: 1rem;
  margin: 4px;
}

.software-name{
    color: red;
}

.software-list li::marker{
    margin-right: 1ch;
    color: red;
}