<!doctype html>
<html lang="en" data-lt-installed="true"><link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style lang="en" type="text/css" id="dark-mode-custom-style"></style><style lang="en" type="text/css" id="dark-mode-native-style"></style><style lang="en" type="text/css" id="dark-mode-native-sheet"></style><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='charts.js') }}"></script>
  <title>SOFtware-Viz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <aside>
            <div class="logo">
                <img src="../../static/logo_VIZ.png" style="width: -webkit-fill-available;">
            </div>
            <div class="sidebar">
                <a href="">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">search</span>
                    <h3>software_count</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Documents</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Authors</h3>
                </a>
            </div>
        </aside>
        {% block body %}{% endblock %}
    </div>
</body>
</html>