<!doctype html>
<html lang="en" data-lt-installed="true"><link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style lang="en" type="text/css" id="dark-mode-custom-style"></style><style lang="en" type="text/css" id="dark-mode-native-style"></style><style lang="en" type="text/css" id="dark-mode-native-sheet"></style><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
  <link rel="stylesheet" id="styles" href="{{ url_for('static', filename='/css/styles.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="icon" type="image/png" href="static/logo01-removebg-preview.png" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='./JS/plugin_datalabels.js') }}"></script>
  <script src="{{ url_for('static', filename='./JS/scripts.js') }}"></script>
  <script src="{{ url_for('static', filename='./JS/charts.js') }}"></script>
  <script src="{{ url_for('static', filename='./JS/chart_line.js') }}"></script>
  <script src="{{ url_for('static', filename='./JS/disambiguate.js') }}"></script>
  <title>SOFtware-Viz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <aside>
            <div class="logo">
                <img src="../../static/logo_VIZ.png" style="width: -webkit-fill-available;">
            </div>
            <div class="sidebar">
                <a href="{{ url_for("dashboard_route") }}">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="{{ url_for("software_mentions", software="PyTorch") }}">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Software (PyTorch)</h3>
                </a>
                <a href="{{ url_for("software_structure_mentions",software="PyTorch",structure="Cirad")}}">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Software (PyTorch/Cirad)</h3>
                </a>
                <a href="{{ url_for("doc_info",doc_id="hal-03514297") }}">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Documents (hal-03514297)</h3>
                </a>
                <a href="{{ url_for("doc_info_wsoftware",doc_id="hal-03514297",software="PostgreSQL") }}">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Documents (hal-03514297/PostgreSQL)</h3>
                </a>
                <a href="{{ url_for("disambiguate")}}">
                    <span class="material-symbols-outlined">search</span>
                    <h3>Disambiguate</h3>
                </a>
            </div>
        </aside>
        {% block body %}{% endblock %}
    </div>
</body>
</html>